<form ng-submit="login(username, password)" class="form-signin" role="form">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input ng-model="username" type="text" class="form-control" placeholder="Username" required autofocus>
    <input ng-model="password" type="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <br/>
    <div ng-show="formError" class="alert alert-danger ng-hide" ng-bind="formError"></div>
</form>